#body-calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    border-style: double;
    border-color: blueviolet;
    height: 100%;
    border-style: double;

}
#display{
    display: flex;

    width: 100%;


}
#ctn-display{
    border-style: double;
    width: 50%;
    justify-content: right;

    
}



#ctn-clear{
    border-style: double;
    width: 50%;
}
#clear{
    width: 100%;
}
#btn-box{
    display : grid;
    
    grid-template-columns: repeat(4,auto);
    height: 40em;
    border-style: double;
    width: 50%;
}

#display{
    text-align: right;
    
    border-style: double;
    height: 5em;
    width: 50%;
}

/*
button{
    background-color: aqua;

}*/