#body-calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6EB;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.19);
    border-style: double;
    border-color: blueviolet;
    height: 100%;
    border-style: double;
    border-radius: 50px;
    margin-right:30%;
    margin-left:30%;
}

#ctn-display{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#display{
    border-radius: 40px;
    text-align: right; 
    border-style: double;
    border-color: tomato;
    height: 3em;
    width: 90%;
}

input[type="text"]{
    font-weight: bolder;
    font-size: 24px;
    padding-right: 11px;
}

#ctn-clear{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    width: 90%;
    height: 4em;
    padding-top: 15px;
  
    padding-bottom: 10px;   

}
#del{
    font-size: 35px;
    padding-bottom: 9px;
    
}
#btn-box{
    display : grid;
    grid-template-columns: repeat(4,auto);
    height: 23em;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 10px;

}
.numbers{
    background-color: lightgray;
}
.operator, .keys{
    background-color: orange;
}

.keysClear{
    border-radius: 10px;
}
button{
    background-color: #BAE1FF;
    border-style: double;
    border-color: black;
    font-size: 20px;
    margin: 5px 5px 5px 5px;
    /*border-radius: 10px;*/
    border-radius: 150%;
}

button:hover{
    background-color: #FFB3BA;
}

