#body-calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6EB;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.19);
   /* border-style: double;
    border-color: blueviolet;*/
    height: 100%;
    border-style: double;
    border-radius: 50px;
    margin-right:25%;
    margin-left:25%;

    padding-left:-25%;
    padding-left:-25%;

}

#ctn-display{
    display: flex;

    width: 100%;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#display{
    border-radius: 40px;
    text-align: right; 
    border-style: double;
    border-color: tomato;
    height: 3em;
    width: 80%;
}

input[type="text"]{
    font-weight: bolder;
    font-size: 24px;
    padding-right: 11px;
}

#ctn-clear{
    display: flex;
    justify-content: center;
    width: 80%;
}
#clear{
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    width: 100%;
    height : 45px;
}
#btn-box{
    display : grid;
    grid-template-columns: repeat(4,auto);
    height: 40em;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 10px;
}

button{
    background-color: #BAE1FF;
    border-style: double;
    border-color: black;
    font-size: 20px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    
}

button:hover{
    background-color: #FFB3BA;
}
/*
button{
    background-color: aqua;

}*/